@model Entities.Company

@{
    ViewData["Title"] = "Firma Ekleme Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="d-flex justify-content-end">
    <div class="form-group">
        <a href="@Url.Action("Index","Company")" class="btn btn-info">Listeye Geri Dön</a>
    </div>
</div>



<div class="alert alert-warning">
    <h3 class="alert alert-danger">BİLGİLENDİRME METNİ</h3><br />
    <p>Firma ekleme işlemlerinizi buradan yapabilirsiniz.</p><br />

    <div class="alert alert-danger">
        <h5 style="color:red">Not: </h5> <p>Aynı isimde firma ismi kabul etmeyecektir. Birbirinden bağımsız isimli firma ismi giriniz.</p>
    </div>

</div>


@using (Html.BeginForm("Add", "Company", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Firma Adı")
        @Html.TextBoxFor(c => c.companyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.companyName, String.Empty, new { @style = "color:red;!important" })
        <br />
        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Gönder">
        </div>
    </div>

}


