@model IEnumerable<Entities.Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Kategoriler</h1>
<a class="btn btn-primary mb-3" asp- action="add">Kategori Ekle</a>

<table>
    <thead>
        <tr>
            <td>Kategori Id</td>
            <td>Kategori Adı</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.categoryName</td>
                <td>
                    <a asp action="Update" asp-route-id="@item.id">Güncelle</a>
                    <a asp action="Delete" asp-route-id="@item.id">Sil</a>

                </td>
            </tr>
        }
    </tbody>
</table>

