@model Entities.Category

@{
    ViewData["Title"] = "Kategori Ekleme Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Ekle</h1>

<form asp-action="Added" formmethod="post">

    <div class="form-group" asp-validation-summary="All">
        <label for="inputName">Kategori Adı</label>

        <input asp-for="categoryName" type="text" id="inputText" class="form-control" required />
        <span asp-validation-for="categoryName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label for="horns">Kategori Durum</label>
        <input asp-for="isActive" type="checkbox" name="isActive" checked="checked" value="True" />
        <span asp-validation-for="isActive" class="text-danger"></span>

    </div>
    <div class="form-group" >
        <input type="submit" class="btn btn-primary" value="Gönder" >

    </div>

</form>
@if (!string.IsNullOrEmpty(ViewBag.addedsucces))
{
    <p class="align-content-lg-between">@ViewBag.addedsucces</p>
}
@if (!string.IsNullOrEmpty(ViewBag.notsuccess))
{
    <p class="align-content-lg-between">@ViewBag.notsuccess</p>
}


<div class="form-group">


    <a href="/Company/Index" class="btn btn-info">Listeye Geri Dön</a>


</div>



