@using Entities




@model List<Category>

@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<table id="example" class="display" style="width:100%">
    <thead>
        <tr>

            <th>#</th>
            <th>Kategori Adı</th>
            <th>Kategori Durumu</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.categoryName</td>
            <td>@item.isActive</td>
            <td><a href="/Category/Updated/@item.id" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Category/Deleted/@item.id" class="btn btn-danger">Sil</a></td>
        </tr>
        }
    </tbody>
    <tfoot>
       
    </tfoot>

</table>














