container {
    max-width: 960px;
}


.site-header {
    background-color: #beb5b5;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

    .site-header a {
        color: #000000;
        transition: ease-in-out color .15s;
        font-family: Candara;
    }

        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }
