
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-6">
        
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.r1</h3>

                <p>Kategori Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="Category/Index" class="small-box-footer">Detaylı<i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
    
</div>