

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fa fa-align-justify"></i>
                </div>
                <span class="counter-value">@ViewBag.r1</span>
                <h3>Kategori</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter blue">
                <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <span class="counter-value">1005</span>
                <h3>Web Development</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter red">
                <div class="counter-icon">
                    <i class="fa fa-asterisk"></i>
                </div>
                <span class="counter-value">1005</span>
                <h3>Web AAA</h3>
            </div>
        </div>
    </div>
</div>

